:root {
  --primary-color: rgb(242, 100, 100);
  --secondary-color: #777777;
}


html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: linear-gradient(to right, #1c2e3f, #00a0ff);
  background-size: cover;
  line-height: 1.5;
}


.App {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.movies {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}


.movie {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}


img {
  width: 100%;
  height: 330px;
  object-fit: cover;
  object-position: center top;
  background-color: rgb(248, 246, 243);
  transition: transform 0.5s;
}


img:hover {
  transform: perspective(500px) translateZ(50px);
}


h2 {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
  color: var(--secondary-color);
}


p {
  margin-top: 10px;
  font-size: 18px;
  color: var(--secondary-color);
  flex: 1;
}


span {
  margin-top: 10px;
  font-size: 22px;
  font-weight: bold;
  color: var(--secondary-color);
  align-self: flex-end;
  padding-right: 20px;
  padding-bottom: 20px;
}


.delete,
.update {
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}


.delete {
  background-color: white;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  transition: all 0.3s ease-in-out;
}


.delete:hover {
  background-color: var(--primary-color);
  color: white;
}


.update {
  background-color:  rgb(112, 112, 247);
  color: white;
  margin-top: auto;
  transition: all 0.3s ease-in-out;
}


.update:hover {
  background-color:  rgb(74, 74, 197);
}


.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}


a {
  text-decoration: none;
  color: white;
}


a:hover {
  text-decoration: underline;
}


input {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}


input:focus {
  outline: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}


.formButton {
  border: none;
  padding: 10px;
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}


.formButton:hover {
  background-color: #FF784A;
}


.movieButton {
  margin-top: 15px;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #1c2e3f, #00a0ff);
}


h1 {
  font-size: 3em;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.2;
  margin-bottom: 20px;
}


@media screen and (max-width: 767px) {


  .movies {
    display: block;
  }
 
  .movie {
    width: 100%;
    margin-bottom: 20px;
  }
 
  img {
    height: 150px;
    object-fit: contain;
    object-position: center top;
  }
 
  h2 {
    font-size: 20px;
    margin-top: 15px;
  }
 
  p {
    font-size: 16px;
  }
 
  span {
    font-size: 18px;
    padding-right: 10px;
    padding-bottom: 10px;
  }
 
  .delete,
  .update {
    padding: 5px;
    font-size: 12px;
  }
 
  .formButton {
    padding: 8px;
  }
 
  .movieButton {
    font-size: 12px;
    padding: 8px;
  }
 
  h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
}


@media screen and (min-width: 768px) and (max-width: 991px) {


  .movies {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
  }


  .movie {
    margin-bottom: 25px;
  }


  img {
    height: 180px;
    object-fit: contain;
    object-position: center top;
  }


  h2 {
    font-size: 22px;
    margin-top: 15px;
  }


  p {
    font-size: 16px;
  }


  span {
    font-size: 20px;
    padding-right: 15px;
    padding-bottom: 15px;
  }


  .delete,
  .update {
    padding: 6px;
    font-size: 14px;
  }


  .formButton {
    padding: 10px;
    font-size: 16px;
  }


  .movieButton {
    font-size: 14px;
    padding: 10px;
  }


  h1 {
    font-size: 2em;
    margin-bottom: 15px;
  }
}


@media screen and (min-width: 992px) {


  h1 {
    font-size: 3em;
  }
}